{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">

        <div class="container">
            <h1>Gestion des agences:</h1>
            <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit
                ametLorem ipsum dolor sit ametLorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
        </div>
    </div>
{% endblock %}