{% extends 'admin/base.html.twig' %}
{% block title %}New Team To add{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1>Create new Team</h1>
    {{ include('admin/user_group/_form.twig.html') }}


{% endblock %}