$primary-color: #fff;
$jumbotron-bg: #f1f1f1;
$fa-font-path: '~font-awesome/fonts';

@import "~font-awesome/scss/font-awesome.scss";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap";
@import "~startbootstrap-sb-admin/css/sb-admin.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";


body {
    background: $primary-color;
}
.jumb {

    background-color: $jumbotron-bg;
}
