<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
{% if show is defined and show== true %}
    {% set class_body = '' %}
{% else %}
    {% set class_body = 'bg-dark' %}
{% endif %}
<body class={{ class_body }}>
{% if show is defined and show== true %}
    {% include 'navigation/navigation.html.twig' %}
{% endif %}

{% block body %}{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>

</html>